@media (max-width: 767px) {
  #client-categories {
    width: 728px;
  }
  #client-list {
    width: 728px;
  }
  .header__container {
    gap: 18px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
  }
  .header__container--only-logo {
    gap: 0;
  }
  .close-modal-btn {
    top: 10px;
    right: 10px;
  }
  .title {
    display: none;
  }
  .client-search {
    grid-column: span 2;
    grid-row: 2;
  }
  .client-container {
    overflow-x: scroll;
  }
  .client-container::-webkit-scrollbar {
    display: none;
  }
}