@import '../00_sass-components/mixin.scss';
@import '../00_sass-components/variables.scss';

#client-categories {
  display: grid;
  grid-template-columns: 5% 25% repeat(2, 12%) 112px repeat(2, 1fr);
  column-gap: 30px;
  padding: 0 20px;
  background-color: #f5f5f5;
}

#client-list {
  overflow: hidden scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color1;
}

.client {
  &-search {
    width: 70%;
    @include borderInput;
  }

  &-categories {
    &__category {
      display: flex;
      align-items: center;
      gap: 2px;
      &-name, &-alphabet {
        font-size: 12px;
        color: $color2;
      }

      &-alphabet {
        color: $color5;
      }

      &:not(:nth-child(5), :nth-child(6)) {
        cursor: pointer;

          &:hover {
            .client-categories__category-name {
              color: $color5;
            }
          }

      }

      &:nth-child(6) {
        grid-column: span 2;
      }
    }

    &__arrow {
      width: 12px;
      height: 12px;
    }
  }

  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 320px;

    &__loader {
      z-index: 5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -25%);

      &--hidden {
        z-index: -5;
        visibility: hidden;
      }
    }
  }

  &-list {
    &__client {
      display: grid;
      grid-template-columns: 5% 25% repeat(2, 12%) 112px repeat(2, 1fr);
      align-items: center;
      column-gap: 30px;
      padding: 20px;
      border-bottom: 1px solid $color3;
    }

    &__message {
      cursor: pointer;
      @include defaultLink;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -25%);
      font-size: 18px;
      font-weight: 600;
    }

    &__id {
      font-size: 12px;
      color: $color2;
    }

    &__full-name {
      font-size: 14px;
      color: $color4;
    }

    &__date {
      font-size: 14px;
      color: $color4;
    }

    &__time {
      font-size: 14px;
      color: $color2;
    }

    &__date-container {
      display: flex;
      gap: 10px;
    }

    &__contact-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 8px;
    }

    &__contact {
      position: relative;
      width: 100%;
      height: 16px;

      &-svg {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        fill: $color5;
        opacity: 0.7;
        transition: opacity .3s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }

      &-tooltip {
        user-select: none;
        position: absolute;
        top: 25px;
        left: -100%;
        width: max-content;
        padding: 7px 14px;

        font-size: 12px;
        font-weight: 700;;
        background-color: $color4;
        opacity: 0;
        transition: opacity .3s ease-in-out;

        &::after {
          content: '';
          position: absolute;
          border: 10px solid transparent;
          border-bottom: 10px solid $color4;
          left: 50%;
          top: -50%;
          transform: translate(-50%, 0);
        }

        &-type {
          color: $color1;
        }

        &-value {
          color: $color5;
        }

        &--show {
          opacity: 1;
          z-index: 1;
        }
      }
    }

    &__btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-left: 16px;
      font-size: 14px;
      color: $color4;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: left center;
      transition: color .3s ease-in-out;
      outline: none;

      &:focus-visible {
        color: $color5;
      }

      &:hover {
        color: $color5;
      }

      &-svg {
        width: 16px;
        height: 16px;
      }
    }

    &__change-btn {
      background-image: url('../images/edit.svg');
    }

    &__delete-btn {
      background-image: url('../images/delete-red.svg');

      &:focus-visible {
        color: $color6;
      }

      &:hover {
        color: $color6;
      }
    }
  }

  &-modal {
    @include defaultModal;
    justify-content: flex-start;
    max-width: 450px;
    width: 100%;
    max-height: 520px;
    overflow-y: scroll;

    &__title-container {
      display: flex;
      gap: 10px;
      align-self: flex-start;
      align-items: flex-end;
    }

    &__title {
      @include defaultH2Title;
    }

    &__id {
      font-size: 12px;
      color: $color2;
    }

    &__label {
      position: relative;
      width: 100%;
    }

    &__input {
      @include defaultInput;
    }

    &__contact {
      &-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $padding;
        width: 100%;
        padding: 25px 0;

        &::before {
          content: '';
          position: absolute;
          height: 100%;
          top: 0;
          left: -100%;
          right: -100%;
          z-index: -1;
          background-color: $color3;
          opacity: 0.2;
        }
      }

      &-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $padding;

      }

      &-item {
        width: 100%;
        height: 40px;
        display: grid;
        grid-template-columns: 124px 1fr 28px;
      }

      &-input {
        @include borderInput;
        border-left: none;
        border-right: none;
      }

      &-btn {
        cursor: pointer;
        width: max-content;
        padding-left: 20px;
        font-size: 14px;
        font-weight: 600;
        color: $color4;
        background-image: url('../images/add.svg');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        outline: none;
        transition: color .3s ease-in-out;

        &--hidden {
          display: none;
        }

        &:focus-visible {
          color: $color5;
        }

        &:hover {
          color: $color5;
        }
      }

      &-delete-btn {
        cursor: pointer;
        background-image: url('../images/delete-gray.svg');
        background-position: center;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-color: #E7E5EB;
        border: 1px solid $color3;
        transition: border-color .3s ease-in-out;
        outline: none;

        &:focus-visible {
          border-color: $color5;
        }

        &:hover {
          background-image: url('../images/delete-red.svg');
        }
      }
    }

    &__btn {
      @include defaultBtn;
    }

    &__descr-btn {
      @include defaultLink;
    }
  }
}

.new-client-btn {
  @include defaultBtn;

  &:focus-visible:not(:disabled) {
    .new-client-btn__svg {
      fill: $color1;
    }
  }

  &:hover:not(:disabled) {
    .new-client-btn__svg {
      fill: $color1;
    }
  }

  &__svg {
    fill: $color5;
    width: 22px;
    height: 16px;
    transition: fill .3s ease-in-out;
  }
}
