@keyframes loader-move {
  to {
    transform: rotate(360deg);
  }
}
.client-search {
  width: 70%;
  padding: 4px 0;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  background-color: initial;
  outline: none;
  border: none;
  border-bottom: 2px solid #C8C5D1;
  transition: border-color 0.3s ease-in-out;
}
.client-search::placeholder {
  font-size: inherit;
  color: #B0B0B0;
}
.client-search:focus-visible {
  border-color: #9873FF;
}
.client-search--error {
  border-color: #F06A4D;
}
.client-search--error:focus-visible {
  border-color: #F06A4D;
}
.client-list {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 320px;
  background-color: #ffffff;
}
.client-list__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}
.client-list__item {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 5% 25% repeat(2, 12%) 108px repeat(2, 1fr);
  column-gap: 30px;
  background-color: #ffffff;
  border-bottom: 1px solid #B0B0B0;
}
.client-list__item:nth-child(2) {
  padding: 0 20px;
  padding-bottom: 8px;
  background-color: #F5F5F5;
  border: none;
}
.client-list__category {
  display: flex;
  align-items: center;
  gap: 2px;
}
.client-list__category-name, .client-list__category-alphabet {
  font-size: 12px;
  color: #B0B0B0;
}
.client-list__category-alphabet {
  color: #9873FF;
}
.client-list__category:not(:nth-child(5), :nth-child(6)) {
  cursor: pointer;
}
.client-list__category:not(:nth-child(5), :nth-child(6)):hover .client-list__category-name {
  color: #9873FF;
}
.client-list__category:nth-child(6) {
  grid-column: span 2;
}
.client-list__arrow {
  width: 12px;
  height: 12px;
}
.client-list__id {
  font-size: 12px;
  color: #B0B0B0;
}
.client-list__full-name {
  font-size: 14px;
  color: #333333;
}
.client-list__date {
  font-size: 14px;
  color: #333333;
}
.client-list__time {
  font-size: 14px;
  color: #B0B0B0;
}
.client-list__contact-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}
.client-list__contact {
  width: 100%;
  height: 16px;
}
.client-list__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333333;
  transition: color 0.3s ease-in-out;
}
.client-list__btn:hover {
  color: #9873FF;
}
.client-list__btn-svg {
  width: 16px;
  height: 16px;
}
.client-modal {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 40px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
}
.client-modal__title-container {
  display: flex;
  gap: 10px;
  align-self: flex-start;
}
.client-modal__title {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
}
.client-modal__label {
  position: relative;
  width: 100%;
}
.client-modal__input {
  padding: 4px 0;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  background-color: initial;
  outline: none;
  border: none;
  border-bottom: 2px solid #C8C5D1;
  transition: border-color 0.3s ease-in-out;
}
.client-modal__input::placeholder {
  font-size: inherit;
  color: #B0B0B0;
}
.client-modal__input:focus-visible {
  border-color: #9873FF;
}
.client-modal__input--error {
  border-color: #F06A4D;
}
.client-modal__input--error:focus-visible {
  border-color: #F06A4D;
}
.client-modal__contact-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 25px 0;
}
.client-modal__contact-list::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: -100%;
  right: -100%;
  z-index: -1;
  background-color: #C8C5D1;
}
.client-modal__contact-btn {
  cursor: pointer;
  width: max-content;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  background-image: url("../images/add.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  outline: none;
  transition: color 0.3s ease-in-out;
}
.client-modal__contact-btn:focus-visible {
  color: #9873FF;
}
.client-modal__contact-btn:hover {
  color: #9873FF;
}
.client-modal__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  padding: 14px 26px;
  font-size: 14px;
  font-weight: 600;
  color: #9873FF;
  border: 1px solid #9873FF;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  outline: none;
}
.client-modal__btn:disabled {
  cursor: default;
  opacity: 0.7;
}
.client-modal__btn:focus-visible:not(:disabled) {
  background-color: #9873FF;
  color: #ffffff;
}
.client-modal__btn:hover:not(:disabled) {
  background-color: #9873FF;
  color: #ffffff;
}
.client-modal__btn--red {
  border-color: #F06A4D;
  color: #F06A4D;
}
.client-modal__btn--red:focus-visible:not(:disabled) {
  background-color: #F06A4D;
}
.client-modal__btn--red:hover:not(:disabled) {
  background-color: #F06A4D;
}
.client-modal__btn span {
  width: 15px;
  height: 15px;
  border: 3px solid #C8C5D1;
  border-left-color: #9873FF;
  border-radius: 50%;
  animation: loader-move 1.5s linear infinite;
}
.client-modal__descr-btn {
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
  color: #333333;
  outline: none;
}
.client-modal__descr-btn:focus-visible {
  color: #9873FF;
  text-decoration: none;
}
.client-modal__descr-btn:hover {
  color: #9873FF;
  text-decoration: none;
}

.new-client-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  padding: 14px 26px;
  font-size: 14px;
  font-weight: 600;
  color: #9873FF;
  border: 1px solid #9873FF;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  outline: none;
}
.new-client-btn:disabled {
  cursor: default;
  opacity: 0.7;
}
.new-client-btn:focus-visible:not(:disabled) {
  background-color: #9873FF;
  color: #ffffff;
}
.new-client-btn:hover:not(:disabled) {
  background-color: #9873FF;
  color: #ffffff;
}
.new-client-btn--red {
  border-color: #F06A4D;
  color: #F06A4D;
}
.new-client-btn--red:focus-visible:not(:disabled) {
  background-color: #F06A4D;
}
.new-client-btn--red:hover:not(:disabled) {
  background-color: #F06A4D;
}
.new-client-btn span {
  width: 15px;
  height: 15px;
  border: 3px solid #C8C5D1;
  border-left-color: #9873FF;
  border-radius: 50%;
  animation: loader-move 1.5s linear infinite;
}
.new-client-btn:focus-visible:not(:disabled) .new-client-btn__svg {
  fill: #ffffff;
}
.new-client-btn:hover:not(:disabled) .new-client-btn__svg {
  fill: #ffffff;
}
.new-client-btn__svg {
  fill: #9873FF;
  width: 22px;
  height: 16px;
  transition: fill 0.3s ease-in-out;
}